---
import Layout from "@/layouts/Layout.astro";
import Calculator from "@/components/Calculator.astro";
---

<Layout title="Amazon FBA Calculator 2025">
    <main class="container mx-auto px-4 py-8">
        <Calculator />
    </main>
</Layout>
